In [1]:
import pandas as pd

In [5]:
df_1 = pd.DataFrame({'product': ['red shirt', 'red shirt', 'red shirt', 'white dress'],
'price': [49.33, 49.33, 32.49, 199.99]})
df_2 = pd.DataFrame({'product': ['red shirt', 'blue pants', 'white tuxedo', 'white dress'],
'in_stock': [True, True, False, False]})

In [6]:
df = pd.merge(left = df_1, right = df_2, on = 'product', how = 'inner')

In [7]:
df

       product   price  in_stock
0    red shirt   49.33      True
1    red shirt   49.33      True
2    red shirt   32.49      True
3  white dress  199.99     False

In [8]:
df = pd.merge(left = df_1, right = df_2, on = 'product', how = 'outer')

In [9]:
df

        product   price  in_stock
0     red shirt   49.33      True
1     red shirt   49.33      True
2     red shirt   32.49      True
3   white dress  199.99     False
4    blue pants     NaN      True
5  white tuxedo     NaN     False

In [10]:
df = pd.merge(left = df_1, right = df_2, on = 'product', how = 'outer')

In [11]:
df

        product   price  in_stock
0     red shirt   49.33      True
1     red shirt   49.33      True
2     red shirt   32.49      True
3   white dress  199.99     False
4    blue pants     NaN      True
5  white tuxedo     NaN     False

In [12]:
df.drop_duplicates()

        product   price  in_stock
0     red shirt   49.33      True
2     red shirt   32.49      True
3   white dress  199.99     False
4    blue pants     NaN      True
5  white tuxedo     NaN     False