In [1]:
import pandas as pd

In [2]:
df_1 = pd.DataFrame({'product': ['red shirt', 'red shirt', 'red shirt', 'white dress'],
'price': [49.33, 49.33, 32.49, 199.99]})
df_2 = pd.DataFrame({'product': ['red shirt', 'blue pants', 'white tuxedo', 'white dress'],
'in_stock': [True, True, False, False]})

In [3]:
df = pd.merge(left = df_1, right = df_2, on = 'product', how = 'inner')

In [4]:
df

       product   price  in_stock
0    red shirt   49.33      True
1    red shirt   49.33      True
2    red shirt   32.49      True
3  white dress  199.99     False

In [5]:
df = pd.merge(left = df_1, right = df_2, on = 'product', how = 'outer')

In [6]:
df

        product   price  in_stock
0     red shirt   49.33      True
1     red shirt   49.33      True
2     red shirt   32.49      True
3   white dress  199.99     False
4    blue pants     NaN      True
5  white tuxedo     NaN     False

In [7]:
df = pd.merge(left = df_1, right = df_2, on = 'product', how = 'outer')

In [8]:
df

        product   price  in_stock
0     red shirt   49.33      True
1     red shirt   49.33      True
2     red shirt   32.49      True
3   white dress  199.99     False
4    blue pants     NaN      True
5  white tuxedo     NaN     False

In [9]:
df[df.duplicated()]

     product  price  in_stock
1  red shirt  49.33      True

In [10]:
df[~df.duplicated()]

        product   price  in_stock
0     red shirt   49.33      True
2     red shirt   32.49      True
3   white dress  199.99     False
4    blue pants     NaN      True
5  white tuxedo     NaN     False

In [11]:
df

        product   price  in_stock
0     red shirt   49.33      True
1     red shirt   49.33      True
2     red shirt   32.49      True
3   white dress  199.99     False
4    blue pants     NaN      True
5  white tuxedo     NaN     False

In [12]:
df = df.drop_duplicates()

In [13]:
df.duplicated()

0    False
2    False
3    False
4    False
5    False
dtype: bool

In [14]:
df.duplicated().sum()

0

In [15]:
df

        product   price  in_stock
0     red shirt   49.33      True
2     red shirt   32.49      True
3   white dress  199.99     False
4    blue pants     NaN      True
5  white tuxedo     NaN     False

In [16]:
import numpy as np

In [17]:
df.fillna(value = df.price.mean())

        product       price  in_stock
0     red shirt   49.330000      True
2     red shirt   32.490000      True
3   white dress  199.990000     False
4    blue pants   93.936667      True
5  white tuxedo   93.936667     False

In [18]:

#df.fillna(method = 'pad')
ratings  = ['low', 'medium', 'high']
np.random.seed(2)
df['rating'] = np.random.choice(ratings, len(df))
df

        product   price  in_stock  rating
0     red shirt   49.33      True     low
2     red shirt   32.49      True  medium
3   white dress  199.99     False     low
4    blue pants     NaN      True    high
5  white tuxedo     NaN     False    high

In [19]:
df.in_stock = df.in_stock.map({False: 0, True: 1})
df

        product   price  in_stock  rating
0     red shirt   49.33         1     low
2     red shirt   32.49         1  medium
3   white dress  199.99         0     low
4    blue pants     NaN         1    high
5  white tuxedo     NaN         0    high

In [20]:
from sklearn.preprocessing import LabelEncoder
rating_encoder = LabelEncoder()
df = df.copy()
df.rating = rating_encoder.fit_transform(df.rating)
df

        product   price  in_stock  rating
0     red shirt   49.33         1       1
2     red shirt   32.49         1       2
3   white dress  199.99         0       1
4    blue pants     NaN         1       0
5  white tuxedo     NaN         0       0

In [21]:
df.fillna(value=df.price.mean())

        product       price  in_stock  rating
0     red shirt   49.330000         1       1
2     red shirt   32.490000         1       2
3   white dress  199.990000         0       1
4    blue pants   93.936667         1       0
5  white tuxedo   93.936667         0       0

In [22]:
df = pd.get_dummies(df)
df

,price,in_stock,rating,product_blue pants,product_red shirt,product_white dress,product_white tuxedo
0,49.33,1,1,0,1,0,0
2,32.49,1,2,0,1,0,0
3,199.99,0,1,0,0,1,0
4,NaN,1,0,1,0,0,0
5,NaN,0,0,0,0,0,1

In [23]:
features = ['price', 'rating', 'product_blue pants', 'product_red shirt', 'product_white dress', 'product_white tuxedo']
X = df[features].values
target = 'in_stock'
y = df[target].values

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3)

In [24]:
print("    shape    ")
print("-------------")
print('X_train', X_train.shape)
print('X_test', X_test.shape)
print('y_test', y_test.shape)
print('y_train', y_train.shape)

shape
-------------
X_train (3, 6)
X_test (2, 6)
y_test (2,)
y_train (3,)